//
//  API.xcconfig
//  clearsenseminutes
//
//  Created by KooBH on 7/26/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = appl_RbAVAVpzfKHLqJfBDibAduFNfbD
ENTITLEMENT_ID = Subscription
DB_ID = ec2-3-35-131-163
DB_PORT = 3001
MODEL = Systran/faster-whisper-small

